<div class=" main-wrapper lg:m-12 flex justify-center ">
    
<div class="md:mt-12 md:ml-12 md:mr-12  max-md:mx-4 max-sm:mb-4 max-sm:mx-4 max-md:my-4"   style="width: 1158px; max-height: 1041px;" >
    <app-header></app-header>


<div *ngIf="images" class=" image-grid grid grid-cols-4 grid-rows-4 max-md:grid-rows-5 max-sm:grid-cols-2 max-sm:grid-rows-6 max-sm:mt-1 gap-3 max-md:gap-2 max-sm:gap-1 md:mt-12 lg:mt-24  relative " style=" max-height: 1341px; " >
    <div  class=" justify-center  md:col-span-1 md:row-span-2 sm:col-span-4 sm:row-span-1 sm:col-start-1 max-sm:col-start-1 max-sm:col-span-2 flex md:flex-col sm:flex-row  bg-cover bg-center bg-no-repeat  " > 
        <div class="flex  flex-col items-center ">
            <p class="max-md:mr-8 max-sm:mr-0 lg:text-5xl md:text-3xl sm:text-2xl max-sm:text-xl max-sm:leading-2 max-sm:my-3 max-sm:font-medium font-normal lg:leading-72 sm:leading-loose md:leading-relaxed max-md:text-center justify-normal"  >A Photo Galery of The Nature </p>
            <p class="max-sm:mb-3 max-md:text-center max-sm:text-sm">The Nature is Beautiful find your favorite picture around the world.</p>
    </div >

    </div>
    
    <div  class="snake lg:col-start-4  md:col-start-2 sm:col-start-1  max-sm:row-span-1 max-md:row-span-2 max-md:col-span-2 col-span-1 row-span-1 max-sm:row-start-2 bg-cover bg-center bg-no-repeat" style="background-image: url({{images[0].src.medium}}) ;" (click)="openDialog(images[0].src.large)"> 
    </div>

  

    <div class="bear lg:col-start-3 md:col-start-3 sm:col-start-3 lg:col-span-1 md:col-span-2 sm:col-span-2 md:row-span-1 lg:row-span-2 max-sm:row-start-3  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[1].src.medium}});" (click)="openDialog(images[1].src.large)">
    </div>
    <div class="lizard lg:col-span-1 lg:row-span-1 md:col-span-2 max-md:col-start-3 max-sm:col-start-1 bg-cover bg-center bg-no-repeat" style="background-image: url({{images[2].src.medium}})" (click)="openDialog(images[2].src.large)" >
    </div>
    <div class="turtle lg:col-start-2 lg:col-span-1 lg:row-span-1 md:row-span-2  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[3].src.medium}})" (click)="openDialog(images[3].src.large)">
    </div>
    <div class="osso lg:col-span-1 lg:row-span-1 md:row-span-2 bg-cover bg-center bg-no-repeat" style="background-image: url({{images[4].src.medium}})" (click)="openDialog(images[4].src.large)">
    </div>
    <div class="dolphin lg:col-span-1 lg:row-span-1 max-md:row-span-1 max-sm:row-span-1  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[5].src.medium}})" (click)="openDialog(images[5].src.large)">
    </div>
    <div class="elephant  lg:col-span-1 lg:row-span-1 max-md:row-span-2 max-md:col-span-2 max-sm:col-span-2  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[6].src.medium}})" (click)="openDialog(images[6].src.large)">
    </div>
    <div class="owel lg:col-span-2 md:col-span-3 lg:row-span-1 max-md:row-span-1 max-md:col-span-2 max-sm:col-span-1 max-sm:row-span-1 max-sm:row-start-3 bg-cover bg-center bg-no-repeat" style="background-image: url({{images[7].src.medium}})" (click)="openDialog(images[7].src.large)">
    </div>
   




  </div>
</div>
</div>

