 <div *ngIf="isSmallScreen" class="max-md:my-9 flex :md justify-between  sm:items-center max-md:mx-5 ">
    <div class="font-bold text-xl">
        <a href="/">Wakalery</a>
        
    </div>
  <div class="flex justify-between ">
  <a href="/" class="lg:mx-12 md:ml-10 text-base  " [class.active]="isLinkActive('/')">Home</a>
  <a href="/gallery-1" class="lg:mx-12 md:ml-10 sm:ml-6 text-base  " [class.active]="isLinkActive('/gallery-1')">Gallery 1</a>
  <a href="/gallery-2" class="lg:mx-12 md:ml-10 sm:ml-6  text-base  " [class.active]="isLinkActive('/gallery-2')">Gallery 2</a>
  <a href="/gallery-3" class="lg:mx-12 md:ml-10 sm:ml-6  text-base  " [class.active]="isLinkActive('/gallery-3')">Gallery 3</a>
  </div>
  
  </div>

  <div *ngIf="!isSmallScreen" class="mx-4 max-sm:my-8 flex md:flex-col sm:flex-row justify-between items-center">
    <div class="font-bold text-xl">
      Wakalery
    </div>
    <div class="relative inline-block">
      <button class="text-base focus:text-lg" (click)="toggleDropdown()">
        Galleries
        <svg class="w-4 h-4 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M7 10l5 5 5-5z" />
        </svg>
      </button>
      <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 bg-white rounded shadow-md w-36" style="z-index: 9999;">
        <a href="/" class="block px-4 py-2" [class.active]="isLinkActive('/')">Home</a>
        <a href="/gallery-1" class="block px-4 py-2" [class.active]="isLinkActive('/gallery-1')">Gallery 1</a>
        <a href="/gallery-2" class="block px-4 py-2" [class.active]="isLinkActive('/gallery-2')">Gallery 2</a>
        <a href="/gallery-3" class="block px-4 py-2" [class.active]="isLinkActive('/gallery-3')">Gallery 3</a>
      </div>
    </div>
  </div>
  
  