<div class="scroll-container main-wrapper m-16  flex justify-center" (window:scroll)="onScroll($event)" >
    
    <div class="m-16" style="width: 1158px; max-height: 1041px; " >
        <app-header></app-header>


  
        <div class="mt-36" >
            <p class="mb-8 text-base">Gallery 3</p>
    <div  class="masonry-grid grid grid-cols-4 grid-rows-2 gap-3 gap-x-18" >  
        <ng-container *ngFor="let image of images">
            <div *ngIf="image.src" [style.background-image]="'url(' + image.src.medium + ')'" class="col-span-1 row-span-1 h-50 w-71 bg-center bg-no-repeat bg-cover" (click)="openDialog(image.src.large)"></div>
          </ng-container>
          
    <div class="loading-indicator text-lg" *ngIf="isLoading">Loading...</div>
    </div>
        </div>


    </div>
    </div>