<div class=" main-wrapper lg:m-12  h-screen flex justify-center" >
    
    <div class="m-16" style="width: 1158px; max-height: 1041px; " >
        <app-header></app-header>

        <ng-container *ngFor="let animal of animalsArray">
<div class="mt-12">
        <h2 class="mb-2">{{animal.groupName}}</h2>
<div  class="grid grid-cols-4 grid-rows-2 gap-3 gap-x-18">  
<div *ngFor="let image of animal.images" style="background-image: url({{image.src.medium}})" class="col-span-1 row-span-1 h-50 w-71 bg-center bg-no-repeat bg-cover" (click)="openDialog(image.src.large)">
</div>
</div>
    </div>
  
</ng-container>
    </div>
</div>


<!-- //homepage// -->

<!-- <div class="bear lg:col-start-3 md:col-start-3 lg:col-span-1 md:col-span-2 md:row-span-1 sm:col-span-2 lg:row-span-2 sm:row-span-   bg-cover bg-center bg-no-repeat" style="background-image: url({{images[1].src.medium}});">
</div>
<div class="lizard lg:col-span-1 md:col-span-2 sm:row-span-2 lg:row-span-1   bg-cover bg-center bg-no-repeat" style="background-image: url({{images[2].src.medium}});">
</div>
<div class="turtle lg:col-start-2 lg:col-span-1 lg:row-span-1 md:row-span-2  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[3].src.medium}});">
</div>
<div class="osso lg:col-span-1 lg:row-span-1 md:row-span-2 bg-cover bg-center bg-no-repeat" style="background-image: url({{images[4].src.medium}});">
</div>
<div class="dolphin lg:col-span-1 lg:row-span-1  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[5].src.medium}});">
</div>
<div class="elephant lg:col-span-1 lg:row-span-1  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[6].src.medium}});">
</div>
<div class="owel lg:col-span-2 md:col-span-3 lg:row-span-1  bg-cover bg-center bg-no-repeat" style="background-image: url({{images[7].src.medium}});">
</div> -->